span, #searchName::placeholder, i, .card-videojuego{
    font-family: 'Play', sans-serif;
    color: #1F376F;
}
#menu a:hover{
    background-color: rgb(214, 214, 214);
}
.btn-menu span{
    line-height: 40px;
    vertical-align: middle;
}
#menu{
    width: 500px; 
    height: 40px;
}
#btnFilter, .btn-menu:first-child, .btn-menu:last-child, #searchName, .card-videojuego, .pokemon-inicial1,
.pokemon-inicial2, .pokemon-inicial3{
    border: 2px solid #1F376F;
}
.btn-menu:first-child{
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.btn-menu:last-child {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.btn-menu:nth-child(2){
    border-bottom: 2px solid #1F376F;
    border-top: 2px solid #1F376F;
}
.card-videojuego{
    height: 360px;
    border-radius: 8px;
}
.pokemon-inicial1, .pokemon-inicial2, .pokemon-inicial3{
    border-radius: 50%;
    margin:5px;
    background-color: rgb(207, 207, 207);
}

.borderCard{

    width: 100%;
    border-radius: 25px;
    border: 3px solid;
    border-color: #5CBE64;
    
}

.imgPokemon{

    width: 150px;

}

.nombrePokemon{
    
        font-family: play;
        font-size: 20px;
        text-align: center;
        margin-top: 40px;
        
}

.idPokemon{
    font-family: play;
    font-size: 15px;
}

.tipo{

    width: 70px;
    height: 70px;
    background-color: #5CBE64;
    border-radius: 50%;
    margin-top: 45px;
    margin-left: 30px;
}

